a:link, a:visited, a:hover, a:active {
  color: black;
}

.home-link {
  font-size: 0.8rem;
  color: #fff;
}

.nav-link {
  font-size: 0.8rem;
  color: black;
}

.header {
  background-color: lightblue;
  height: 25px;
  font-size: 1rem;
  color: #fff;
}

.header p {
  font-size: 1rem;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
}

a {
  text-decoration:none;
}

body {
  background-color: lavender;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.tweet {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  /* border: solid 3px #000000; */
}

.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: lightblue;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: black;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
